@import "./fonts/fonts.css";
@import "./00_header.css";
@import "./01_about-me.css";

:root {
  --nav-footer-color: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

hr {
  max-width: 150px;
  margin: 40px auto;
  border: #2196f3 solid 2px;
}

footer {
  background-color: #131622;
  background: linear-gradient(to bottom, #284e7a, #000 100%);
  color: white;
  text-align: center;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--nav-footer-color);
}

footer ul {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: 0 8px;
}

footer ul li a {
  font-size: 36px;
  cursor: pointer;
}

@media (max-width: 800px) {
  footer {
    padding: 80px 15px;
  }
}
